.home-container {
    border: solid 1px;
    height: 600px;
    background-color: rgb(243, 229, 209);

}

.self-img{
    border: 1px solid;
    border-radius: 50px;
    text-align: left;
    width: 200px;
    margin-top: 20px;
    margin-left: 80px;
    overflow: hidden; 
    

}

.highlight {
    font-weight: bold;  
    color: #80166e;     
  }
  

.passage-box1{
    position: relative;
    bottom: 220px;
    text-align: left;
    margin-left: 450px;
    /* border: 1px solid   ; */
    
}

.passage-box2{
    position: relative;
    bottom: 170px;
    text-align: left;
    margin-left: 60px;
    margin-right: 10px;
    /* border: 1px solid   ; */
    
}